<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= assigns[:page_title] || "Snippet · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css")
    %>"/> <%= csrf_meta_tag() %>
  </head>
  <body>
    <main role="main" class="container max-w-full">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
      <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative flex" role="alert">
        <span>
          <svg class="fill-current h-6 w-6 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        </span>
        <span class="block sm:inline"><%= get_flash(@conn, :info) %></span>
      </div>
      <% end %>
      
      <%= unless is_nil(get_flash(@conn, :error)) do %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative flex" role="alert">
        <span>
          <svg class="fill-current h-6 w-6 text-red-500 mr-2" fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
        </span>
        <span class="block sm:inline"><%= get_flash(@conn, :error) %></span>
      </div>
      <% end %>
      
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script
      type="text/javascript"
      src="<%= Routes.static_path(@conn, ~s(/js/app.js)) %>"
    ></script>
  </body>
</html>
