/* purgecss start ignore */

@import 'tailwindcss/base';

@import 'tailwindcss/components';

/* purgecss end ignore */

@import './components/buttons.css';

@import 'tailwindcss/utilities';

@import '../../deps/phoenix_live_reload/assets/css/live_view.css';

html,
body {
  background: #1f2022;
  height: 100%;
}

.navbar {
  background: #141419;
}

.navbar-item {
  @apply cursor-pointer w-full inline-flex items-center p-2 mt-8 transition duration-150 ease-in-out;
}

.navbar-item:hover {
  @apply opacity-50;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.title-input:focus {
  background: #13151a;
}
