/* purgecss start ignore */

@import 'tailwindcss/base';

@import 'tailwindcss/components';

/* purgecss end ignore */

@import './duotone.css';

@import './components/buttons.css';

@import 'tailwindcss/utilities';

html,
body {
  background: #1f2022;
  height: 100%;
}

.navbar {
  background: #141419;
}

.navbar-item {
  @apply cursor-pointer w-full inline-flex items-center p-2 mt-8 transition duration-150 ease-in-out;
}

.navbar-item:hover {
  @apply opacity-50;
}

.navbar-item:focus {
  outline: none;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.title-input:focus {
  background: #13151a;
}

div[data-phx-view] {
  @apply w-full h-full;
}

.dropdown-item {
  @apply block px-4 py-2 text-sm leading-5 text-white transition duration-150 ease-in-out;
  outline: none;
  text-decoration: none;
}
.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.publish-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.match-item:hover {
  background: #ffffff20;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
