.btn-secondary {
  @apply inline-flex items-center justify-center h-10 px-3 text-base shadow-sm leading-6 font-medium rounded-md text-white transition duration-150 ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn-primary {
  @apply inline-flex items-center justify-center h-10 px-3 text-base shadow-sm leading-6 bg-indigo-500 font-medium rounded-md text-white transition duration-150 ease-in-out;
  outline: none;
}

.btn-primary:hover {
  @apply bg-indigo-400;
}
